.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 250px;
    flex-wrap: wrap;
    width: 90%;
    align-self: center;
    gap: 30px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
}

.img{
    width: 90%;
    max-width: 570px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 50px;
}

.ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.title{
    font-family: sans-serif;
}

.link{
  position: absolute;
    top:140px;
    left: 30px;
}

.btnBack {
    border-radius: 4px;
    background: linear-gradient(to left, #080808, #4ca2cb) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 95%;
    font-family: 'Architects Daughter', cursive;
    padding: 20px;
    width: 140px;
    height: 58px;
    transition: all 0.4s;
    cursor: pointer;
    margin-top: 35px;
  }
  .btnBack {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .btnBack:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 20px;
    transition: 0.5s;
  }
  .btnBack:hover {
    padding-left: 30px;
  }
  .btnBack:hover:after {
    opacity: 1;
    left: 0;
  }

  .loading{
    padding-top: 400px;
  }