.backgr{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-position: center;
}

.video{
   
    position: absolute;
    z-index: -1;
}

.btn{
    height: 38px;
    width: 100px;
    cursor: pointer;
    margin-left: 90px;
    border: 1px solid;
    font-family: fantasy;
    background-color: white;
}

.btn:hover{
    background-color: lightblue;
}